/* @import "../../node_modules/@awesome.me/webawesome/dist/styles/themes/default.css";
@import "../../node_modules/@awesome.me/webawesome/dist/styles/native.css"; */
@import "@awesome.me/webawesome/dist/styles/themes/default.css";
@import "@awesome.me/webawesome/dist/styles/native.css";

/* Custom styles - placed after imports to override defaults */
html,
body {
  margin: 0;
  height: 100%;
}

main {
  margin: 10px;
}
