---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { deckSchema } from "../schemas/deck";

const decks = await getCollection("decks");
decks.forEach((deck) => deckSchema.parse(deck.data));

const title = "Italian vocabulary";
---

<BaseLayout pageTitle={title}>
  <main>
    <h1>{title}</h1>
    <wa-switch id="reverse-deck-switch">Reverse Deck</wa-switch>
    <wa-switch id="shuffle-deck-switch">Shuffle Decks</wa-switch>
    <ul>
      {
        decks.map((deck) => (
          <li>
            <a href={import.meta.env.BASE_URL + deck.id}>{deck.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>

<script>
  import "@awesome.me/webawesome/dist/components/switch/switch.js";

  await customElements.whenDefined("wa-switch");

  const reverseDeckSwitch = document.getElementById("reverse-deck-switch");
  const shuffleDeckSwitch = document.getElementById("shuffle-deck-switch");

  // Load state from localStorage
  const isReversed = localStorage.getItem("reverseDeck") === "true";
  const isShuffled = localStorage.getItem("shuffleDeck") === "true";

  if (reverseDeckSwitch) {
    (reverseDeckSwitch as HTMLElement & { checked: boolean }).checked =
      isReversed;

    reverseDeckSwitch.addEventListener("change", (event) => {
      const target = event.target as HTMLElement & { checked: boolean };
      if (target) {
        localStorage.setItem("reverseDeck", String(target.checked));
      }
    });
  }

  if (shuffleDeckSwitch) {
    (shuffleDeckSwitch as HTMLElement & { checked: boolean }).checked =
      isShuffled;

    shuffleDeckSwitch.addEventListener("change", (event) => {
      const target = event.target as HTMLElement & { checked: boolean };
      if (target) {
        localStorage.setItem("shuffleDeck", String(target.checked));
      }
    });
  }
</script>
