---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import { getCollection } from "astro:content";

const decks = await getCollection("decks");

const title = "Italian vocabulary";
---

<BaseLayout pageTitle={title}>
	<Header pageTitle={title} />
	<ul>
		{
			decks.map((deck) => (
				<li>
					<a href={import.meta.env.BASE_URL + "/" + deck.id}>
						{deck.data.title}
					</a>
				</li>
			))
		}
	</ul>
</BaseLayout>
