---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const decks = await getCollection("decks");

const title = "Italian vocabulary";
---

<BaseLayout pageTitle={title}>
  <main>
    <h1>{title}</h1>
    <wa-switch id="reverse-deck-switch">Reverse Deck</wa-switch>
    <ul>
      {
        decks.map((deck) => (
          <li>
            <a href={import.meta.env.BASE_URL + deck.id}>{deck.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
<script>
  import "@awesome.me/webawesome/dist/components/switch/switch.js";

  await customElements.whenDefined("wa-switch");

  const reverseDeckSwitch = document.getElementById("reverse-deck-switch");

  // Load state from localStorage
  const isReversed = localStorage.getItem("reverseDeck") === "true";

  if (reverseDeckSwitch) {
    (reverseDeckSwitch as any).checked = isReversed;

    reverseDeckSwitch.addEventListener("change", (event: any) => {
      const target = event.target as any;
      if (target) {
        localStorage.setItem("reverseDeck", String(target.checked));
      }
    });
  }
</script>
